/* Navigation */

.navbar {
  height: 70px;
  line-height: 70px;
  border-radius: 0;
}

.nav-item {
  margin: 0 10px;
}

.main-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content-img {
  margin: 0 auto 25px auto;
  display: block;
}

.main-content-titles {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.main-content-social {
  text-align: center;
  padding: 0;
}

.main-content-social-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  background-color: black;
}

.main-page-header {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 35px;
  font-size: 42px;
}

.page-container {
  margin: 0 200px;
}


/* About */

.about-picture {
  margin-bottom: 16px;
  width: 100%;
}

.about-social {
  padding-left: 0;
  text-align: center;
}

.about-social-item {
  width: 37px;
  height: 37px;
  margin: 0 -2px;
  background-color: black;
  display: inline-block;
}

.about-text {
  font-size: 22px;
  padding-left: 30px;
}
